dominate==2.1.16
Flask==0.10.1
Werkzeug==0.10.4
Flask-Bootstrap==3.3.5.7
Flask-FlatPages==0.6
Flask-Script==2.0.5
PyYAML==3.11
wheel==0.24.0
Frozen-Flask==0.11
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.3
MarkupSafe==0.23
jinja2-highlight==0.6.1
visitor==0.1.2
Flask-WTF==0.12
WTForms==2.0.2
Flask-Login==0.2.11
Flask-Security==1.7.4

alembic==0.8.3
Flask-Migrate==1.5.1
Flask-SQLAlchemy==2.1
SQLAlchemy==1.0.9
MySQL-python==1.2.5

Flask-Moment==0.4.0
flask-mail==0.9.1

pillow==3.0.0

# for test
Flask-Testing==0.4.2
selenium
ForgeryPy==0.1

# for product
gunicorn==0.17.2
